:root {
    --bg-color: #eeeeee;
    --orange: #fb5867;
    --red: #3d618b;
    --post-color: white;
    --navi-bar-color:#00897b;;
}
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    color:black;
    margin:0;
}
.content {
  max-width: 1000px;
  margin: auto;
  background: var(--post-color);
  padding: 10px;

}
h1{
    color:#dd744d;
    margin-left:10px;
}
.navbar {
    overflow: hidden;
    background-color: #00897b;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style:hidden;
    border-radius:20px;
    color: black;
    transition: background-color 0.2s;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    font-weight:600;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--red);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-style:hidden;
    border-radius:10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight:400;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.aktywna {
    background-color:var(--orange);
    border-style:hidden;
    border-radius:10px;
  }
.tekst{
    margin-left:30px;
    margin-right:30px;
}
h2{
  color:var(--orange);
  font-size:23px;
}
.def{
  color:var(--red);
  font-weight:600;
}
.n{
  color:var(--red);
  font-weight:600; 
}
p + ul {
  margin-top: -15px;
}
.top{
  border-style: solid;
  border-color:var(--navi-bar-color);
  background-color:var(--navi-bar-color);
  display:block;
  padding:0;
  margin:auto;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}