:root {
    --bg-color: #eeeeee;
    --orange: #fb5867;
    --red: #3d618b;
    --post-color: white;
    --navi-bar-color:#00897b;;
}
.tekst{
    margin-left:30px;
    margin-right:30px;
}
h2{
  color:var(--orange);
  font-size:23px;
}
.def{
  color:var(--red);
  font-weight:600;
}
.n{
  color:var(--red);
  font-weight:600; 
}
p + ul {
  margin-top: -15px;
}
.top{
  border-style: solid;
  border-color:var(--navi-bar-color);
  background-color:var(--navi-bar-color);
  display:block;
  padding:0;
  margin:auto;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}