:root {
    --bg-color: #322A35;
    --orange: #ff7b25;
    --red: #d64161;
    --post-color: #433D61;
}
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    color:white;
}
h1{
    color:var(--orange);
    margin-left:10px;
}
.navbar {
  overflow: hidden;
  background-color: var(--orange);
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:600;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  font-weight:600;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff6600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight:400;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.aktywna {
    background-color:var(--red);
  }
.posty{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:70%;
    float:left;
  }
.tekst{
    margin-left:20px;
    margin-right:100px;
}
.naglowek{
    color:var(--red);
    font-weight:600;
}
h2{
    color:var(--orange);
    font-size:30px;
}