:root {
    --bg-color: #322A35;
    --orange: #ff7b25;
    --red: #d64161;
    --post-color: #433D61;
}
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    color:white;
    margin:0;
}
.navbar {
    overflow: hidden;
    background-color: var(--bg-color);
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:600;
    transition: background-color 0.2s;
    border-style:hidden;
    border-radius:20px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    font-weight:600;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: background-color 0.2s;
    border-style:hidden;
    border-radius:20px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--orange);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style:hidden;
    border-radius:10px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight:400;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.aktywna {
    background-color:var(--red);
  }
.posty{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:70%;
    float:left;
    
}
.postya{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    float:right;
    display:block;
    width:29%;
    
}
.top{
  border-style: solid;
  border-color:var(--bg-color);
  background-color:var(--bg-color);
  display:block;
  padding:0;
  margin:auto;
}
.tekst{
    margin-left:30px;
    margin-right:30px;
}
.abc a{
    color: green;
    background-color: transparent;
    text-decoration: none;

}
a.abc:visited{
    color: var(--orange);
    background-color: transparent;
    text-decoration: none;
}
a.abc:hover {
    color: var(--red);
    background-color: transparent;
    text-decoration: underline;
}
