:root {
    --bg-color: #322A35;
    --orange: #ff7b25;
    --red: #d64161;
    --post-color: #433D61;
}
body
{
    font-family: 'Open Sans', sans-serif;
    background-color:var(--bg-color);
    color:white;
    margin:0;
}
.navbar {
    overflow: hidden;
    background-color: var(--bg-color);
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:600;
    transition: background-color 0.2s;
    border-style:hidden;
    border-radius:20px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    font-weight:600;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: background-color 0.2s;
    border-style:hidden;
    border-radius:20px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--orange);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style:hidden;
    border-radius:10px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight:400;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .top{
    border-style: solid;
    border-color:var(--bg-color);
    background-color:var(--bg-color);
    display:block;
    padding:0;
    margin:auto;
  }
 .aktywna {
    background-color:var(--red);
  }
.posty{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:80%;
    float:left;
}
.postya{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:19%;
    float:right;
}
.tekst{
    margin-left:30px;
    margin-right:30px;
}
h2{
    color:var(--orange);
    font-weight:600;
    font-size:20px;
}
table, th, td{
    text-align:center;
    color:black;
    border-style:solid;
    border-collapse:collapse;
    border-width:5px;
    font-family: 'Hind Siliguri', sans-serif;
}
a{
    color: rgb(9, 0, 128);
    background-color: transparent;
    text-decoration: none;

}
tr.n{
    background-color:#f46524;
}
tr.k1{
    background-color:#ffe6dd;
}
tr.k2{
    background-color:white;
}
.tekst2{
    color:var(--red);
    font-weight:600;
}
.meniu {
    width: 200px; 
    height: 150px;
    overflow-y: auto;
}
  
.meniu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}
  
.meniu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}
  
.meniu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}