:root {
    --bg-color: #322A35;
    --orange: #ff7b25;
    --red: #d64161;
    --post-color: #433D61;
}

.posty{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:80%;
    float:left;
}
.postya{
    border-style: solid;
    border-color:var(--post-color);
    background-color:var(--post-color);
    border-radius: 10px;
    display:block;
    width:19%;
    float:right;
}
.tekst{
    margin-left:30px;
    margin-right:30px;
}
h2{
    color:var(--orange);
    font-weight:600;
    font-size:20px;
}
table, th, td{
    text-align:center;
    color:black;
    border-style:solid;
    border-collapse:collapse;
    border-width:5px;
    font-family: 'Hind Siliguri', sans-serif;
}
a{
    color: rgb(9, 0, 128);
    background-color: transparent;
    text-decoration: none;

}
tr.n{
    background-color:#f46524;
}
tr.k1{
    background-color:#ffe6dd;
}
tr.k2{
    background-color:white;
}
.tekst2{
    color:var(--red);
    font-weight:600;
}